<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74807468237-h3e1rns0gf2lm1hedla7dbjg5mop2psd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74807468237-h3e1rns0gf2lm1hedla7dbjg5mop2psd</string>
	<key>API_KEY</key>
	<string>AIzaSyBc_x_emXEOHflK5VnmnZpTXpaHjl-3NXM</string>
	<key>GCM_SENDER_ID</key>
	<string>74807468237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nelermont.ReadWrite-Firebase</string>
	<key>PROJECT_ID</key>
	<string>readwrite-74d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>readwrite-74d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74807468237:ios:daec11954bb0833f844984</string>
</dict>
</plist>